:root {
    --app-font: 'Quicksand', 'Lato', sans-serif;
    --neutral-color: white;
    background: blue;
  }
  
  .App {
    font-family: var(--app-font);
    text-align: center;
    background: var(--neutral-color);
    user-select: none;
  }
  